.account{
    font-size: $fs14;
    &__left{

    }
    &__social{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        &__group{
            display: flex;
            align-items: center;
            margin: 10px 10px;
            border: 1px solid #8080806e;
            padding: 10px 15px;
            border-radius: 3px;
            cursor: pointer;
            width: 45%;
           justify-content: center;
            b{
                margin: 0 5px;
            }
            &:first-child{
                background-color: #0000ffc4;
                color: white;
               &:hover{
                border: 1px solid blue;
                color: #0000ffc4;
                background-color: unset;
                transition: .3s;
               }
            }
            &:nth-child(2){
                background-color: #ff0000ba;
                color: white;
                &:hover{
                    border: 1px solid #ff0000ba;
                    color: #ff0000b3;
                    background-color: unset;
                    transition: .3s;
                }
             
            }
        }
    }
    &__list{
        &__gruop{
             padding: 10px 15px ;
             display: flex;
             align-items: center;
            border-bottom: 1px solid #80808047;
            cursor: pointer;
            letter-spacing: .3rem;
            span{
                padding: 0 10px;
            }
            &:hover{
                background: $clblack;
                color: #fff;
                transition: .3s;
                border-radius: 3px;
            }
        }
    }
    input{
        height: 40px;
    }

}